body {
  padding-top: 2rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
#cy {
  width: 500px;
  height: 500px;
  display: block;
  position: absolute;
  right: 0px;
  width: 75%;
}
.upload {
  position: absolute;
  left: 0px;
  width: 25%;
}
