<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Chinese Postman Problem
    </title>
    {% load static %}
    <link href="{% static "cpp/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "cpp/starter-template.css" %}" rel="stylesheet">
    <script src="{% static "cpp/jquery-3.2.1.slim.min.js" %}"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static "cpp/popper.min.js" %}"></script>
    <script src="{% static "cpp/bootstrap.min.js" %}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/cpp">Chinese Postman Problem</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    
    <main>
    </main>
    <br>

    <div class="upload">
        <form method='post' enctype='multipart/form-data'>
            {% csrf_token %}
            Upload the graph (.csv):
            <br>
            <input name='uploadgraph' type='file' required>
            <br>
            <input type='submit' value='Upload'>
        </form>    
    </div>
    <div>
      {{ ret }}
    </div>

</body>