<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Chinese Postman Problem
    </title>
    {% load static %}
    <link href="{% static "cpp/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "cpp/starter-template.css" %}" rel="stylesheet">
    <script src="{% static "cpp/jquery-3.2.1.slim.min.js" %}"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static "cpp/popper.min.js" %}"></script>
    <script src="{% static "cpp/bootstrap.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.6/cytoscape.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/cpp">Chinese Postman Problem</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    
    <br>

    <div class="upload">
        <form method='post' enctype='multipart/form-data'>
            {% csrf_token %}
            Upload the graph (.csv):
            <br>
            <input name='uploadgraph' type='file' required>
            <br>
            Min Degree<input name='min_degree' type='number'>
            <br>
            Max Weight<input name='max_weight' type='number'>
            <br>
            Start Node<input name='start_node' type='number'>
            <br>
            <input type='submit' value='Upload'>
        </form>    
    </div>
    <div>
      {{ ret }}
    </div>
    <div id="cy"></div>
    <script type="text/javascript">
        var cy = cytoscape({
        container: document.getElementById('cy'),

        boxSelectionEnabled: false,
        autounselectify: true,

        style: cytoscape.stylesheet()
            .selector('node')
            .css({
                'content': 'data(id)'
            })
            .selector('edge')
            .css({
                'curve-style': 'bezier',
                'width': 4,
                'line-color': '#ddd',
                'target-arrow-color': '#ddd'
            })
            .selector('.doublededge')
            .css({
                'display': 'none',
                'curve-style': 'bezier',
                'target-arrow-shape': 'triangle',
                'width': 4,
                'line-color': '#ddd',
                'target-arrow-color': '#ddd'
            })
            .selector('.highlighted')
            .css({
                'opacity': 0.5,
                'display': 'element',
                'target-arrow-shape': 'triangle',
                'background-color': '#61bffc',
                'line-color': '#61bffc',
                'target-arrow-color': '#61bffc',
                'transition-property': 'background-color, line-color, target-arrow-color',
                'transition-duration': '0.5s'
            }),

        elements: {
            nodes: {{ nodes|safe }},

            edges: {{ oriedges|safe }},
            },

        layout: {
            name: 'cose',
            directed: false,
            roots: '#a',
            padding: 10
        }
        });

        path = {{ path|safe }}

        var i = 0;
        var highlightNextRoute = function() {
            if ( i < path.length) {
                edgesel = 'edge[source="'+path[i][0]+'"][target="'+path[i][1]+'"]';
                revedgesel = 'edge[source="'+path[i][1]+'"][target="'+path[i][0]+'"]';
                if (cy.elements(revedgesel).length && !cy.elements(revedgesel).hasClass('highlighted')) {
                    cy.elements(revedgesel).remove();
                    cy.add({data: { source: path[i][0], target: path[i][1] }, classes: 'highlighted' });
                    alert(1);
                } else if (cy.elements(edgesel).length && !cy.elements(edgesel).hasClass('highlighted')) {
                    cy.elements(edgesel).addClass('highlighted');
                    alert(2);
                } else {
                    cy.add({data: { source: path[i][0], target: path[i][1] }, classes: 'highlighted' });
                    alert(3);
                }
                alert(path);
                i++;
                setTimeout(highlightNextRoute, 500);
            }
        };

        highlightNextRoute();

        var bfs = cy.elements().bfs('#a', function(){}, false);

        var i = 0;
        var highlightNextEle = function(){
        if( i < bfs.path.length ){
            bfs.path[i].addClass('highlighted');

            i++;
            setTimeout(highlightNextEle, 1000);
        }
        };

        // kick off first highlight
        highlightNextEle();
    </script>
</body>