<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Chinese Postman Problem
    </title>
    {% load static %}
    <link href="{% static "cpp/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "cpp/starter-template.css" %}" rel="stylesheet">
    <script src="{% static "cpp/jquery-3.2.1.slim.min.js" %}"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static "cpp/popper.min.js" %}"></script>
    <script src="{% static "cpp/bootstrap.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.6/cytoscape.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/cpp">Chinese Postman Problem</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    
    <br>

    <div class="upload">
        <form method='post' enctype='multipart/form-data'>
            {% csrf_token %}
            Upload the graph (.csv):
            <br>
            <input name='uploadgraph' type='file' required>
            <br>
            Min Degree<input name='min_degree' type='number'>
            <br>
            Max Weight<input name='max_weight' type='number'>
            <br>
            Start Node<input name='start_node' type='number'>
            <br>
            <input type='submit' value='Upload'>
        </form>
        <br>
        {{ ret }}
    </div>

    <div id="cy"></div>
    <script type="text/javascript">
        var cy = cytoscape({
        container: document.getElementById('cy'),

        boxSelectionEnabled: false,
        autounselectify: true,

        style: cytoscape.stylesheet()
            .selector('node')
            .css({
                'content': 'data(id)'
            })
            .selector('edge')
            .css({
                'curve-style': 'bezier',
                'width': 4,
                'line-color': '#ddd',
                'target-arrow-color': '#ddd'
            })
            .selector('.deledge')
            .css({
                'opacity': 0,
                'curve-style': 'bezier',
                'target-arrow-shape': 'triangle',
                'width': 4,
                'line-color': '#ddd',
                'target-arrow-color': '#ddd',
                'transition-property': 'opacity',
                'transition-duration': '2s'
            })
            .selector('.highlighted')
            .css({
                'opacity': 0.5,
                'display': 'element',
                'target-arrow-shape': 'triangle',
                'background-color': '#61bffc',
                'line-color': '#61bffc',
                'target-arrow-color': '#61bffc',
                'transition-property': 'background-color, line-color, target-arrow-color',
                'transition-duration': '1s'
            })
            .selector('.highlightednode')
            .css({
                'display': 'element',
                'target-arrow-shape': 'triangle',
                'background-color': '#61bffc',
                'line-color': '#61bffc',
                'target-arrow-color': '#61bffc',
                'transition-property': 'background-color, line-color, target-arrow-color',
                'transition-duration': '1s'
            })
            .selector('.nodeinpath')
            .css({
                'display': 'element',
                'border-color': '#61bffc',
                'border-opacity': 0.5,
                'border-width': 2,
                'border-style': 'dashed',
                'line-color': '#61bffc',
                'transition-property': 'border-color, border-width',
                'transition-duration': '0.1s'
            }),

        elements: {
            nodes: {{ nodes|safe }},

            edges: {{ oriedges|safe }},
            },

        layout: {
            name: 'cose',
            directed: false,
            roots: '#1',
            padding: 10
        }
        });

        path = {{ path|safe }}
        nodeinpath = {{ nodeinpath|safe }}
        deledges = {{ deledges|safe }}
        for (var i in nodeinpath) {
            nodesel = 'node[id="'+nodeinpath[i]+'"]';
            cy.elements(nodesel).addClass('nodeinpath');
        }

        for (var i in deledges) {
            edgesel = 'edge[source="'+deledges[i][0]+'"][target="'+deledges[i][1]+'"]';
            cy.elements(edgesel).addClass('deledge');
        }

        var highlightNode = function(i) {
            nodesel = 'node[id="'+i+'"]';
            cy.elements(nodesel).addClass('highlightednode');
        }

        var i = 0;
        if (path.length) {
            highlightNode(path[0][0]);
        }
        
        var highlightNextRoute = function() {
            if ( i < path.length) {
                setTimeout(highlightNode(path[i][1]), 1000);
                edgesel = 'edge[source="'+path[i][0]+'"][target="'+path[i][1]+'"]';
                revedgesel = 'edge[source="'+path[i][1]+'"][target="'+path[i][0]+'"]';
                if (cy.elements(revedgesel).length && !cy.elements(revedgesel).hasClass('highlighted')) {
                    cy.elements(revedgesel).remove();
                    cy.add({data: { source: path[i][0], target: path[i][1] }, classes: 'highlighted' });
                } else if (cy.elements(edgesel).length && !cy.elements(edgesel).hasClass('highlighted')) {
                    cy.elements(edgesel).addClass('highlighted');
                } else {
                    cy.add({data: { source: path[i][0], target: path[i][1] }, classes: 'highlighted' });
                }
                i++;
                setTimeout(highlightNextRoute, 1000);
            }
        };

        highlightNextRoute();

    </script>
</body>